.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 934px;
}

.u-section-1 .u-text-1 {
    text-shadow: 2px 2px 8px rgba(66, 84, 101, 0.4);
    letter-spacing: 2px;
    text-transform: none;
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 2.25rem;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    margin: 90px auto 0;
}

.u-section-1 .u-image-1 {
    width: 735px;
    height: 459px;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: 43px auto 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    letter-spacing: 3px;
    box-shadow: 0 0 7px 0 rgba(71, 138, 201, 0.7);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;
    border-style: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 90px auto 60px;
    padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        font-size: 2.125rem;
    }

    .u-section-1 .u-image-1 {
        transition-duration: 0.5s;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 925px;
    }

    .u-section-1 .u-image-1 {
        width: 720px;
        height: 450px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 813px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.875rem;
        margin-top: 60px;
    }

    .u-section-1 .u-image-1 {
        width: 540px;
        height: 338px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 688px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-1 .u-image-1 {
        width: 340px;
        height: 213px;
    }
}